body{
    background-color: rgb(9, 9, 253);
}

.bigbox{
    display: flex;
    flex-direction: row;
}

.box1{
    background-color: rgb(185, 245, 245);
    float: left;
    margin-top: 100px;
    height: 550px;
    margin-left: 50px;
    width: 50%;
    
}

.box2{
    background-color: aqua;
    float: right;
    margin-right: 50px;
    margin-top: 100px;
    height: 550px;
    width: 50%;
}

.yes1{
    background-color: rgb(9, 9, 253);
    width: 150px;
    margin-left: 270px;
    margin-top: 250px;
    height: 100px;
    text-align: center;
    align-items: center;
    border-radius: 10px;
    color: aliceblue;
}

.yes2{
    background-color: rgb(9, 9, 253);
    width: 150px;
    margin-left: 270px;
    margin-top: 250px;
    height: 100px;
    text-align: center;
    align-items: center;
    border-radius: 10px;
    color: aliceblue;
}

h1{
    text-align: center;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: blue;
}
.newgame{
    position: absolute;top: 150px;
    position: absolute;left: 47%;
    padding: 1px;
    background-color: rgb(243, 246, 248);
}

.rolldice{
    position: absolute;top: 350px;
    position: absolute;left: 47%;
    padding: 1px;
    background-color: rgb(243, 246, 248);
}

.hold{
    position: absolute;top: 450px;
    position: absolute;left: 48%;
    padding: 1px;
    background-color: rgb(243, 246, 248);
}

